#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Java Developers - 2020-09
Exec=env GTK_IM_MODULE=ibus /home/rhyme/eclipse/java-2020-09/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/rhyme/eclipse/java-2020-09/eclipse/icon.xpm
